[Desktop Entry]
Version=1.0
Type=Application
Name=LM Studio
Comment=Use local LLMs
Exec=/home/akira/.local/bin/lm-studio --no-sandbox %U
Icon=/home/akira/.local/share/icons/lm-studio.png
Terminal=false
StartupWMClass=LM-Studio
Categories=Development;
